.choresText {
   color: darkcyan;
   font-style: italic;
   font-size: large;
   text-align: left;
  }
 
 
 .choresHeading {
   color: black;
   text-decoration-line: underline;
   text-align: left;
 }
 